Cheffile.lock
.vagrant/machines/default/virtualbox/action_provision
.vagrant/machines/default/virtualbox/action_set_name
.vagrant/machines/default/virtualbox/creator_uid
.vagrant/machines/default/virtualbox/id
.vagrant/machines/default/virtualbox/index_uuid
.vagrant/machines/default/virtualbox/private_key
.vagrant/machines/default/virtualbox/synced_folders
cookbooks/7-zip/CHANGELOG.md
cookbooks/7-zip/metadata.json
cookbooks/7-zip/metadata.rb
cookbooks/7-zip/README.md
cookbooks/7-zip/attributes/default.rb
cookbooks/7-zip/recipes/default.rb
cookbooks/apt/CHANGELOG.md
cookbooks/apt/metadata.json
cookbooks/apt/README.md
cookbooks/apt/attributes/default.rb
cookbooks/apt/files/default/15update-stamp
cookbooks/apt/files/default/apt-proxy-v2.conf
cookbooks/apt/libraries/helpers.rb
cookbooks/apt/libraries/matchers.rb
cookbooks/apt/libraries/network.rb
cookbooks/apt/providers/preference.rb
cookbooks/apt/providers/repository.rb
cookbooks/apt/recipes/cacher-client.rb
cookbooks/apt/recipes/cacher-ng.rb
cookbooks/apt/recipes/default.rb
cookbooks/apt/recipes/unattended-upgrades.rb
cookbooks/apt/resources/preference.rb
cookbooks/apt/resources/repository.rb
cookbooks/apt/templates/debian-6.0/acng.conf.erb
cookbooks/apt/templates/default/01proxy.erb
cookbooks/apt/templates/default/20auto-upgrades.erb
cookbooks/apt/templates/default/50unattended-upgrades.erb
cookbooks/apt/templates/default/acng.conf.erb
cookbooks/apt/templates/default/unattended-upgrades.seed.erb
cookbooks/apt/templates/ubuntu-10.04/acng.conf.erb
cookbooks/ark/CHANGELOG.md
cookbooks/ark/metadata.json
cookbooks/ark/metadata.rb
cookbooks/ark/README.md
cookbooks/ark/attributes/default.rb
cookbooks/ark/files/default/foo.tar.gz
cookbooks/ark/files/default/foo.tbz
cookbooks/ark/files/default/foo.tgz
cookbooks/ark/files/default/foo.txz
cookbooks/ark/files/default/foo.zip
cookbooks/ark/files/default/foo_sub.tar.gz
cookbooks/ark/files/default/foo_sub.zip
cookbooks/ark/files/default/tests/minitest/default_test.rb
cookbooks/ark/files/default/tests/minitest/test_test.rb
cookbooks/ark/files/default/tests/minitest/support/helpers.rb
cookbooks/ark/libraries/default.rb
cookbooks/ark/providers/default.rb
cookbooks/ark/recipes/default.rb
cookbooks/ark/recipes/test.rb
cookbooks/ark/resources/default.rb
cookbooks/ark/templates/default/add_to_path.sh.erb
cookbooks/build-essential/.envrc
cookbooks/build-essential/.gitignore
cookbooks/build-essential/.kitchen.cloud.yml
cookbooks/build-essential/.kitchen.yml
cookbooks/build-essential/.rubocop.yml
cookbooks/build-essential/.travis.yml
cookbooks/build-essential/Berksfile
cookbooks/build-essential/CHANGELOG.md
cookbooks/build-essential/CONTRIBUTING
cookbooks/build-essential/Gemfile
cookbooks/build-essential/Guardfile
cookbooks/build-essential/LICENSE
cookbooks/build-essential/matrix
cookbooks/build-essential/metadata.json
cookbooks/build-essential/metadata.rb
cookbooks/build-essential/Rakefile
cookbooks/build-essential/README.md
cookbooks/build-essential/attributes/default.rb
cookbooks/build-essential/libraries/matchers.rb
cookbooks/build-essential/libraries/timing.rb
cookbooks/build-essential/libraries/xcode_command_line_tools.rb
cookbooks/build-essential/recipes/_debian.rb
cookbooks/build-essential/recipes/_fedora.rb
cookbooks/build-essential/recipes/_freebsd.rb
cookbooks/build-essential/recipes/_mac_os_x.rb
cookbooks/build-essential/recipes/_omnios.rb
cookbooks/build-essential/recipes/_rhel.rb
cookbooks/build-essential/recipes/_smartos.rb
cookbooks/build-essential/recipes/_solaris2.rb
cookbooks/build-essential/recipes/_suse.rb
cookbooks/build-essential/recipes/default.rb
cookbooks/chef_handler/CHANGELOG.md
cookbooks/chef_handler/metadata.json
cookbooks/chef_handler/README.md
cookbooks/chef_handler/attributes/default.rb
cookbooks/chef_handler/files/default/handlers/README
cookbooks/chef_handler/libraries/helpers.rb
cookbooks/chef_handler/libraries/matchers.rb
cookbooks/chef_handler/providers/default.rb
cookbooks/chef_handler/recipes/default.rb
cookbooks/chef_handler/recipes/json_file.rb
cookbooks/chef_handler/resources/default.rb
cookbooks/homebrew/CHANGELOG.md
cookbooks/homebrew/metadata.json
cookbooks/homebrew/README.md
cookbooks/homebrew/attributes/default.rb
cookbooks/homebrew/libraries/homebrew_mixin.rb
cookbooks/homebrew/libraries/homebrew_package.rb
cookbooks/homebrew/libraries/matchers.rb
cookbooks/homebrew/providers/cask.rb
cookbooks/homebrew/providers/tap.rb
cookbooks/homebrew/recipes/cask.rb
cookbooks/homebrew/recipes/default.rb
cookbooks/homebrew/recipes/install_casks.rb
cookbooks/homebrew/recipes/install_formulas.rb
cookbooks/homebrew/recipes/install_taps.rb
cookbooks/homebrew/resources/cask.rb
cookbooks/homebrew/resources/tap.rb
cookbooks/mysql/CHANGELOG.md
cookbooks/mysql/metadata.json
cookbooks/mysql/metadata.rb
cookbooks/mysql/README.md
cookbooks/mysql/attributes/default.rb
cookbooks/mysql/libraries/helpers.rb
cookbooks/mysql/libraries/helpers_debian.rb
cookbooks/mysql/libraries/helpers_fedora.rb
cookbooks/mysql/libraries/helpers_freebsd.rb
cookbooks/mysql/libraries/helpers_omnios.rb
cookbooks/mysql/libraries/helpers_rhel.rb
cookbooks/mysql/libraries/helpers_smartos.rb
cookbooks/mysql/libraries/helpers_suse.rb
cookbooks/mysql/libraries/helpers_ubuntu.rb
cookbooks/mysql/libraries/matchers.rb
cookbooks/mysql/libraries/provider_mysql_client.rb
cookbooks/mysql/libraries/provider_mysql_client_debian.rb
cookbooks/mysql/libraries/provider_mysql_client_fedora.rb
cookbooks/mysql/libraries/provider_mysql_client_freebsd.rb
cookbooks/mysql/libraries/provider_mysql_client_omnios.rb
cookbooks/mysql/libraries/provider_mysql_client_rhel.rb
cookbooks/mysql/libraries/provider_mysql_client_smartos.rb
cookbooks/mysql/libraries/provider_mysql_client_suse.rb
cookbooks/mysql/libraries/provider_mysql_client_ubuntu.rb
cookbooks/mysql/libraries/provider_mysql_service.rb
cookbooks/mysql/libraries/provider_mysql_service_debian.rb
cookbooks/mysql/libraries/provider_mysql_service_fedora.rb
cookbooks/mysql/libraries/provider_mysql_service_freebsd.rb
cookbooks/mysql/libraries/provider_mysql_service_omnios.rb
cookbooks/mysql/libraries/provider_mysql_service_rhel.rb
cookbooks/mysql/libraries/provider_mysql_service_smartos.rb
cookbooks/mysql/libraries/provider_mysql_service_suse.rb
cookbooks/mysql/libraries/provider_mysql_service_ubuntu.rb
cookbooks/mysql/libraries/resource_mysql_client.rb
cookbooks/mysql/libraries/resource_mysql_service.rb
cookbooks/mysql/libraries/z_provider_mapping.rb
cookbooks/mysql/recipes/client.rb
cookbooks/mysql/recipes/server.rb
cookbooks/mysql/recipes/server_deprecated.rb
cookbooks/mysql/templates/default/5.0/my.cnf.erb
cookbooks/mysql/templates/default/5.1/my.cnf.erb
cookbooks/mysql/templates/default/5.5/my.cnf.erb
cookbooks/mysql/templates/default/5.6/my.cnf.erb
cookbooks/mysql/templates/default/apparmor/usr.sbin.mysqld.erb
cookbooks/mysql/templates/default/debian/debian.cnf.erb
cookbooks/mysql/templates/default/debian/mysql-server.seed.erb
cookbooks/mysql/templates/default/deprecated/my.cnf.erb
cookbooks/mysql/templates/default/grants/grants.sql.erb
cookbooks/mysql/templates/default/omnios/mysql.xml.erb
cookbooks/mysql/templates/default/omnios/svc.method.mysqld.erb
cookbooks/mysql/templates/default/smartos/mysql.xml.erb
cookbooks/mysql/templates/default/smartos/svc.method.mysqld.erb
cookbooks/nodejs/CHANGELOG.md
cookbooks/nodejs/metadata.json
cookbooks/nodejs/README.md
cookbooks/nodejs/attributes/default.rb
cookbooks/nodejs/attributes/npm.rb
cookbooks/nodejs/attributes/packages.rb
cookbooks/nodejs/attributes/repo.rb
cookbooks/nodejs/libraries/matchers.rb
cookbooks/nodejs/libraries/nodejs_helper.rb
cookbooks/nodejs/providers/npm.rb
cookbooks/nodejs/recipes/default.rb
cookbooks/nodejs/recipes/install.rb
cookbooks/nodejs/recipes/iojs.rb
cookbooks/nodejs/recipes/nodejs.rb
cookbooks/nodejs/recipes/nodejs_from_binary.rb
cookbooks/nodejs/recipes/nodejs_from_package.rb
cookbooks/nodejs/recipes/nodejs_from_source.rb
cookbooks/nodejs/recipes/npm.rb
cookbooks/nodejs/recipes/npm_from_source.rb
cookbooks/nodejs/recipes/npm_packages.rb
cookbooks/nodejs/recipes/repo.rb
cookbooks/nodejs/resources/npm.rb
cookbooks/ruby_build/CHANGELOG.md
cookbooks/ruby_build/metadata.json
cookbooks/ruby_build/metadata.rb
cookbooks/ruby_build/README.md
cookbooks/ruby_build/attributes/default.rb
cookbooks/ruby_build/libraries/ruby_build_recipe_helpers.rb
cookbooks/ruby_build/providers/ruby.rb
cookbooks/ruby_build/recipes/default.rb
cookbooks/ruby_build/resources/ruby.rb
cookbooks/vim/CHANGELOG.md
cookbooks/vim/metadata.json
cookbooks/vim/metadata.rb
cookbooks/vim/README.md
cookbooks/vim/attributes/default.rb
cookbooks/vim/attributes/source.rb
cookbooks/vim/recipes/default.rb
cookbooks/vim/recipes/package.rb
cookbooks/vim/recipes/source.rb
cookbooks/windows/CHANGELOG.md
cookbooks/windows/metadata.json
cookbooks/windows/README.md
cookbooks/windows/attributes/default.rb
cookbooks/windows/files/default/handlers/windows_reboot_handler.rb
cookbooks/windows/libraries/feature_base.rb
cookbooks/windows/libraries/matchers.rb
cookbooks/windows/libraries/powershell_helper.rb
cookbooks/windows/libraries/powershell_out.rb
cookbooks/windows/libraries/registry_helper.rb
cookbooks/windows/libraries/version.rb
cookbooks/windows/libraries/windows_architecture_helper.rb
cookbooks/windows/libraries/windows_helper.rb
cookbooks/windows/libraries/windows_package.rb
cookbooks/windows/libraries/windows_privileged.rb
cookbooks/windows/libraries/wmi_helper.rb
cookbooks/windows/providers/auto_run.rb
cookbooks/windows/providers/batch.rb
cookbooks/windows/providers/certificate.rb
cookbooks/windows/providers/certificate_binding.rb
cookbooks/windows/providers/feature_dism.rb
cookbooks/windows/providers/feature_powershell.rb
cookbooks/windows/providers/feature_servermanagercmd.rb
cookbooks/windows/providers/font.rb
cookbooks/windows/providers/http_acl.rb
cookbooks/windows/providers/pagefile.rb
cookbooks/windows/providers/path.rb
cookbooks/windows/providers/printer.rb
cookbooks/windows/providers/printer_port.rb
cookbooks/windows/providers/reboot.rb
cookbooks/windows/providers/registry.rb
cookbooks/windows/providers/shortcut.rb
cookbooks/windows/providers/task.rb
cookbooks/windows/providers/zipfile.rb
cookbooks/windows/recipes/default.rb
cookbooks/windows/recipes/reboot_handler.rb
cookbooks/windows/resources/auto_run.rb
cookbooks/windows/resources/batch.rb
cookbooks/windows/resources/certificate.rb
cookbooks/windows/resources/certificate_binding.rb
cookbooks/windows/resources/feature.rb
cookbooks/windows/resources/font.rb
cookbooks/windows/resources/http_acl.rb
cookbooks/windows/resources/pagefile.rb
cookbooks/windows/resources/path.rb
cookbooks/windows/resources/printer.rb
cookbooks/windows/resources/printer_port.rb
cookbooks/windows/resources/reboot.rb
cookbooks/windows/resources/registry.rb
cookbooks/windows/resources/shortcut.rb
cookbooks/windows/resources/task.rb
cookbooks/windows/resources/zipfile.rb
cookbooks/yum/CHANGELOG.md
cookbooks/yum/metadata.json
cookbooks/yum/README.md
cookbooks/yum-epel/CHANGELOG.md
cookbooks/yum-epel/metadata.json
cookbooks/yum-epel/README.md
cookbooks/yum-epel/attributes/default.rb
cookbooks/yum-epel/attributes/epel-debuginfo.rb
cookbooks/yum-epel/attributes/epel-source.rb
cookbooks/yum-epel/attributes/epel-testing-debuginfo.rb
cookbooks/yum-epel/attributes/epel-testing-source.rb
cookbooks/yum-epel/attributes/epel-testing.rb
cookbooks/yum-epel/attributes/epel.rb
cookbooks/yum-epel/recipes/default.rb
cookbooks/yum-mysql-community/CHANGELOG.md
cookbooks/yum-mysql-community/metadata.json
cookbooks/yum-mysql-community/README.md
cookbooks/yum-mysql-community/attributes/mysql-connectors-community.rb
cookbooks/yum-mysql-community/attributes/mysql55-community.rb
cookbooks/yum-mysql-community/attributes/mysql56-community.rb
cookbooks/yum-mysql-community/attributes/mysql57-community.rb
cookbooks/yum-mysql-community/files/default/mysql_pubkey.asc
cookbooks/yum-mysql-community/recipes/connectors.rb
cookbooks/yum-mysql-community/recipes/mysql55.rb
cookbooks/yum-mysql-community/recipes/mysql56.rb
cookbooks/yum-mysql-community/recipes/mysql57.rb
cookbooks/yum/attributes/main.rb
cookbooks/yum/libraries/matchers.rb
cookbooks/yum/providers/globalconfig.rb
cookbooks/yum/providers/repository.rb
cookbooks/yum/recipes/default.rb
cookbooks/yum/resources/globalconfig.rb
cookbooks/yum/resources/repository.rb
cookbooks/yum/templates/default/main.erb
cookbooks/yum/templates/default/repo.erb
