<footer>
  <div class="center">
    <p class="bottom-links">
      | <%= link_to "about us", "/about", class: "pink-link" %> 
      | <%= link_to "support", "/support", class: "pink-link" %> 
      | <%= link_to "terms of privacy ", "/privacy", class: "pink-link" %>
      | &copy; beautboss 2015&#8482; all rights reserved
    </p>
  </div>
</footer>