<div class="clearfix">
  <div class="container center">
    <p class="bottom-links">
        <!-- <span style="padding-right: 12px;">|</span> -->
        <% #link_to "about us", about_path, class: "pink-link" %> 
        <!-- <span style="padding-left: 12px; padding-right: 12px;">|</span> -->
        <% #link_to "support", support_path, class: "pink-link" %> 
        <span style="padding-left: 12px; padding-right: 12px;">|</span>
        <%= link_to t("website.shared_footer.link_terms"), terms_path, class: "pink-link" %>
        <span style="padding-left: 12px; padding-right: 12px;">|</span>
        <%= link_to t("website.shared_footer.link_policies"), privacy_path, class: "pink-link" %>
        <span style="padding-left: 12px; padding-right: 12px;">|</span>
        <%= t("website.shared_footer.copyright") %>
      </p>
  </div>
</div>