<footer>
  <div class="center">
    <p class="bottom-links">
      | <%= link_to "about us", about_path, class: "pink-link" %> 
      | <%= link_to "support", support_path, class: "pink-link" %> 
      | <%= link_to "terms of privacy ", privacy_path, class: "pink-link" %>
      | &copy; beautboss 2015&#8482; all rights reserved
    </p>
  </div>
</footer>