<div id="header-authenticated">

  <div class="container">
    <%= link_to image_tag("beautboss-logo.png", alt: "beautboss", class: "logo-authenticated pull-left", style: "margin-left: -20px;"), root_path %>
    <div class="pull-right">
      <%= link_to @current_user.username, @current_user, class: "username-text pull-left" %>
      <%= link_to image_tag(@current_user.avatar, alt: @current_user.username, size: '48x48', class: "img-circle pull-left", style: "margin-top: 16px;"), @current_user %>
    </div>
  </div>

</div>