<div id="header-small">

  <div class="container">
    <%= link_to image_tag("beautboss-logo.png", alt: "beautboss", class: "logo-small pull-left", style: "margin-left: -20px;"), root_path %>
    <div class="pull-right">
      <%= link_to image_tag("icon-home.png", alt: "sign in", class: "sign-in-icon pull-left", style: "padding-top: 20px;"), sign_in_path %>
      <%= link_to "sign in", sign_in_path, class: "sign-in-text pull-left", style: "padding-top: 30px; padding-left: 10px;" %>
    </div>
  </div>

</div>