<%= render "shared/header_small" %>

<div style="background-color: #f1f1f1; padding: 20px 40px 40px 40px;">

  <div class="container" style="text-align: justify;">
    <h2 class="grey-title">about us</h2>
    <br>
    <p class="grey-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
      mollit anim id est laborum.
    </p>
    <p class="grey-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
      mollit anim id est laborum.
    </p>
    <p class="grey-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
      mollit anim id est laborum.
    </p>
  </div>
  
</div>

<div style="padding: 20px 20px 40px 20px; text-align: justify;">
  <div class="container">
    <div class="pull-left">
      <h2 class="subtitle">find, share and experience it. be a beautboss!</h2>
      <br>
      <p class="grey-text">
        Find the best places and beauty care services wherever you are with 
        beautboss! You can share your experiences, interact with your friends 
        and check how the beauty salons are working all around the world.
      </p>
      <p class="grey-text">
        Cut your hair, put some colour in your life, make your own new style, chase your crowns and be a beautboss right now!
        </p>
      <br>
      <div class="center">
        <%= image_tag "app-store-button.svg", alt: "Download on the App Store", class: "app-store-button" %>  
      </div>
    </div>
    <!-- <div class="pull-right">
      <%= image_tag "iphone-shot-two.png", alt: "download!", class: "", style: "padding-left: 40px; margin-top: -84px; margin-bottom: -96px;" %>
    </div> -->
  </div>  
</div>


<!-- <div style="background-color: #f1f1f1; height: 96px; min-height: 96px;"></div> -->

<div style="background-color: #f1f1f1;">
  <%= render "shared/footer" %>
</div>