<%= render "shared/header_small" %>

<div style="background-color: #f1f1f1; padding: 20px 40px 40px 40px;">

  <div class="container" style="text-align: justify;">


    <h2 class="grey-title">privacy policies</h2><br>

    <p class="grey-text">Beautboss is concerned with the treatment granted to its Users’ personal data and agrees to
    comply with the following terms that govern its privacy policy in the provision of the Services
    through the site <a href="www.beautboss.com" class="pink-link">www.beautboss.com</a> and Smartphone applications ("Privacy Policies").</p>

    <p class="grey-text">These Privacy Policies discipline the treatment of the personal information provided by the User or
    collected by Beautboss as described below, but does not apply to third-party activities, including
    any product or service provided by third parties or services rendered by third parties for access to
    the Services and/or integrated into the Services.</p>
    
    <p class="grey-text">We advise you to carefully read the private
    policies of these third parties before disclosing your personal information, because Beautboss will
    not be held liable for the privacy of information protective practices adopted by third parties.
    <strong>Furthermore, Beautboss will not be liable for the personal information provided by the User to any
    third parties.</strong></p>

    <h3 class="grey-subtitle">Definitions</h3>

    <p class="grey-text">All the capitalized terms not defined herein have the meanings
    attributed to them in the Terms of Use.</p>  

    <h3 class="grey-subtitle">Acceptance of the Privacy Policies</h3>

    <p class="grey-text">Before registering and using the Services provided by Beautboss, you should read, be sure you understood
    everything, and accept all the conditions established in the present instrument.     For the above
    purpose, if deemed necessary, you may contact Beautboss through the e-mail <a href="mailto:policy@beautboss.com" class="pink-link">policy@beautboss.com</a>, and
    Beautboss will make its best efforts to answer your question immediately.     The User that, at any
    time, objects to the processing, use and treatment of the informed data will not enjoy the Services
    offered by Beautboss, and should cancel the registration immediately.     The User may, at any time,
    delete or modify the information available, and choose not to receive emails sent by Beautboss
    related to the Services.</p>


    <h3 class="grey-subtitle">Update of the Terms of Use</h3>

    <p class="grey-text">The internal processes may be subject
    to changes from time to time to improve or modify the provided Services. In this context, and in
    case it is deemed necessary or convenient, these Privacy Policies may be reviewed and amended by
    Beautboss. Consequently, we advise you to check, whenever possible, the latest version of the
    Privacy Policies available in the website www.beautboss.com and Smartphone applications.     If
    certain practices are changed in a way that affects the treatment of the personal information
    already provided, Beautboss will notify the User about this new Privacy Policy by email, to the
    address registered in the website <a href="www.beautboss.com" class="pink-link">www.beautboss.com</a>.     The User that has opted for not receiving
    Beautboss communications and, therefore, does not receive the notice about the amendment to the
    Privacy Policies, shall be, nonetheless, subject to new policies, and freely agrees to consult such
    Policies in the Beautboss website. If the User continues to use the Services after the amendment to
    the Privacy Policies, this will be construed as the User having accepted all the amendments and,
    therefore, being bound and subject to the Privacy Policies as amended.</p>


    <h3 class="grey-subtitle">Information collected by Beautboss</h3>

    <p class="grey-text">To provide the Services and/or improve the provided Services, Beautboss may collect
    the following information:

    <ul class="grey-text">

      <li>Information that the User expressly decides to provide, such as name,
      city, image, upon filling out and sending the specific form through the website www.beautboss.com or
      Smartphone applications. When the image (photograph) is uploaded, any data related to such image,
      such as date and place where it was taken, may be also uploaded, at the User’s discretion. The User
      will be responsible for choosing whether the information will be public, private or visible to only
      a specific group of Users in the network. Beautboss is not responsible for the use of the User’s
      information by third parties or further Users, in case the User opts for publicly disclosing such
      information in the network or to certain group(s) of Users.</li>

      <li>User’s personal information available in the User’s public profile in the Facebook. The User may opt 
      for creating an account in the Beautboss website by providing an e-mail address and password, or by the 
      User’s Facebook profile. If the User registers in the Beautboss website through the Facebook, the information 
      included in the User’s Facebook public profile will be collected. If the User creates a specific login and 
      password to access the network, such password may be changed at any time by the User. The User’s password is 
      not stored or visible to Beautboss, its employees and further contributors. In addition, the User’s email 
      address will not be viewed by other network Users, unless such information is publicly disclosed in the network 
      by the very User, which Beautboss discourages.</li>

      <li>Information provided by third parties. To share Services information more easily with Users registered in the Beautboss network, you may integrate your account with other accounts registered with third parties, such as Facebook or list of contacts, using safe connection methods provided by such third parties. In case of connection between your account in the Beautboss website and third-party accounts, some information about you collected by such third-parties may be shared with Beautboss. These third parties will never provide your passwords to Beautboss and will be liable for notifying you about the data that will be shared with Beautboss. Beautboss will never publish any content in the Users’ profiles with third parties, except if the User has expressly authorized it or actually made some action in that direction.</li>
        
      <li>List of contacts. To localize other Users in the network, you may, upon express acceptance, opt for uploading your list of contacts in your mobile device (iOS or Android system) to your Beautboss account. Beautboss neither will store such information nor associate it with the your account or other personal information provided by you.</li>

      <li>User’s current location. To allow the Services to be provided and keep tabs in the network, you must consent your position to be tracked by your mobile device GPS (iOS or Android system). Beautboss will not associate such information with your account or any other personal information.</li>

      <li>Technical information and use of the Services. To understand how the Services are used by the Users, and how it can be improved, Beautboss may receive, store and analyze certain information, whenever the User interacts with the Services, such as, (a) information about the browser and/or mobile device used by the User to optimize the Services to be provided to common browsers and devices, and (b) information about visited webpages and researches made by the Users in the network, Beautboss functions and communications with which the User interacts. This information generates Services-related statistics and allow the identification of target advertising, but will never be shared with third parties in a way that permits the User’s personal identification.</li>

      <li>IP Address and cookies. Such alphanumeric identifiers help Beautboss, through the prior reading of recorded cookies and/or accessed IP addresses, to distinguish browsers and devices to prevent the information being showed to you more than once, allow you to remain connected to the Beautboss website without having to connect every time you want to access the network, prevent duplicate actions, such as duplicate coupon redemption, optimizing your network browsing.
      Beautboss uses cookies that are indispensable for the provision of the Services.
      A “cookie” is a small alphanumeric text line stored by internet browsers or mobile devices when a person visits a webpage or a specific advertisement and may store users’ preferences and other information.
      The cookies do not identify the person (data are collected and aggregated anonymously) and cannot be used to access any other information from the User’s computer and/or mobile device.</li>

      <li>Failures and error reports. If the User identifies any error during the use of the Services, Beautboss may generate an error report which includes technical and use information and, in case you are connected, information about your account, thus permitting the problem to be diagnosed and measures to be taken to prevent this occurrence again.</li>

    </ul>

    </p>

    <h3 class="grey-subtitle">Use of Personal Information by Beautboss</h3>

    <p class="grey-text">Any personal information of the User, without restrictions, will be treated according to the principles of confidentiality and privacy protection, in compliance with the statutory laws in force, and such information will not be assigned or communicated to third parties without the User’s express consent, except under court order therefor, when Beautboss ascertains that the tool is being unlawfully used or used against the purposes and principles established herein and in the Terms of Use, or in case of a corporate transaction involving Beautboss that implies the transfer of its assets to third parties. The information provided by the User and collected under this instrument is part of Beautboss assets and any third-party purchasers of such assets will continue to treat the personal information as provided hereunder. Furthermore, Beautboss is entitled to trade with third parties Users’ data that do not identify such Users at any time whatsoever with the sole purpose of permitting the assessment by such third parties of the Users’ interest for certain products and/or services in specific regions, locations or districts.
    The email registered by the User in the network may be used by Beautboss to send (i) any advertisement about updates or improvements in the existing tools for the use of the Services; (ii) recommendations of content that Beautboss understands may interest the User; (iii) notices about relevant amendments to the Privacy Policies or Terms of Use; (iv) private Service-related messages or about the use of the Services.
    The access to the personal information provided by the User in the network is restricted to the employees and independent contractors authorized by Beautboss that need to have access to such information for the accurate provision of the Services. Those that use such information improperly, breaching these Privacy Policies, will be liable for their acts.
    To perfect the network, and as part of the ongoing internal review process and experience optimization, Users’ profile analysis and overall quality of the Services, any information that is not considered personal and does not allow the User’s personal identification, including, but not limited to, network-shared content, may be used by Beautboss, and eventually conveyed to third parties.
    
    <h3 class="grey-subtitle">Protection of personal information by Beautboss</h3>
    
    <p class="grey-text">The personal information provided by the User is transmitted to and stored by Beautboss upon the use of high-level cryptography available in the IT (information technology) market. Beautboss uses updated safety and access methods that protect their serves and database against unauthorized use.
    However, no method of data transmission or storage is 100% safe and, therefore, Beautboss cannot guarantee that such data will not be viewed, handled or intercepted by a non-authorized third party. The non-authorized access and use by third parties, failures in the hardware and software used for the provision of the Services and other factors may compromise the safety of the personal information provided by the User.
    Beautboss undertakes, however, to make its best efforts to prevent the access of non-authorized third parties to personal information provided by the User, notifying the User by email if Beautboss understands that the privacy of the information is compromised in any way whatsoever by a security failure or non-authorized access. Anyway, upon using the Services, the User agrees to hold Beautboss harmless from and against the non-authorized use of the User’s personal information in the situations provided hereunder.
    The User is likewise responsible for the safety of any personal information, and must adopt measures therefor, such as, for instance: (i) create safety and unique passwords; (ii) be sure that the internet connection used to access the Services is reliable and safe; (iii) only publish information and photos with which the User is comfortable that such information may be public; (iv) be careful with information provided to third parties; (v) be aware when redirected to third-party websites.</p>

    <h3 class="grey-subtitle">Questions</h3>

    <p class="grey-text">In case you have any questions about these Privacy Policies or the use of your personal information, you may contact Beautboss through the email <a href="mailto:policy@beautboss.com" class="pink-link">policy@beautboss.com</a> and we will make our best efforts to answer your questions.</p>

  </div>
  
</div>

<%= render "shared/extended_footer" %>