<%= render "shared/header_small" %>

<div style="background-color: #f1f1f1; padding: 20px 40px 40px 40px;">

  <div class="container" style="text-align: justify;">


    <h2 class="grey-title">políticas de privacidade</h2><br>

    <p class="grey-text">
    A Beautboss se preocupa com o tratamento dos dados pessoais dos Usuários e 
    se compromete a cumprir com os seguintes termos que regem sua política de 
    privacidade na prestação dos Serviços através do site <a href="www.beautboss.com" class="pink-link">www.beautboss.com</a> 
    e dos aplicativos para Smartphone (“Políticas de Privacidade”).
    </p>

    <p class="grey-text">
    Estas Políticas de Privacidade disciplinam o tratamento de informações 
    pessoais fornecidas pelo Usuário ou coletadas pela Beautboss conforme 
    descrito abaixo mas não se aplicam às atividades de terceiros, inclusive a 
    todo e qualquer produto ou serviço fornecido por terceiros ou serviços 
    prestados por terceiros para o acesso aos Serviços e/ou que estejam 
    integrados aos Serviços.
    </p>
    
    <p class="grey-text">
    Recomenda-se que o Usuário leia atentamente as políticas de privacidade 
    destes terceiros antes de divulgar suas informações pessoais, pois a 
    Beautboss não se responsabiliza por práticas de proteção à privacidade de 
    informações adotadas por terceiros. <strong>A Beautboss não se responsabiliza, 
    ainda, pelas informações pessoais fornecidas pelo Usuário a quaisquer 
    terceiros.</strong>
    </p>

    <h3 class="grey-subtitle">Definições</h3>

    <p class="grey-text">
    Todos os termos em maiúsculo não definidos no presente instrumento têm os 
    significados que lhes são atribuídos nos Termos de Uso.
    </p>  

    <h3 class="grey-subtitle">Aceitação das Políticas de Privacidade</h3>

    <p class="grey-text">
    Antes de realizar seu cadastro e utilizar os Serviços prestados pela 
    Beautboss, o Usuário deverá ler, certificar-se de haver entendido e aceitar 
    todas as condições estabelecidas no presente instrumento.
    </p>

    <p class="grey-text">
    Para a finalidade acima, se julgar necessário, o Usuário poderá entrar em 
    contato com a Beautboss através do e-mail <a href="mailto:policy@beautboss.com" class="pink-link">policy@beautboss.com</a> 
    e a Beautboss envidará melhores esforços para responder prontamente a 
    dúvida apresentada pelo Usuário.
    </p>

    <p class="grey-text">
    O Usuário que, a qualquer momento, opuser-se ao processamento, uso e 
    tratamento dos dados informados não poderá usufruir dos Serviços oferecidos 
    pela Beautboss, devendo cancelar imediatamente seu cadastro.
    </p>

    <p class="grey-text">
    O Usuário poderá, a qualquer momento, deletar ou modificar as informações 
    disponibilizadas e escolher por não receber determinados emails enviados 
    pela Beautboss em relação aos Serviços.
    </p>

    <h3 class="grey-subtitle">Atualização dos Termos de Uso</h3>

    <p class="grey-text">
    Ocasionalmente, os processos internos poderão sofrer alterações com o 
    objetivo de aprimorar ou modificar os Serviços prestados. Neste contexto, 
    e caso seja necessário ou conveniente, estas Políticas de Privacidade 
    poderão ser revistas e alteradas pela Beautboss. <strong>Recomenda-se, assim, que 
    o Usuário verifique, sempre que possível, a versão mais recente das 
    Políticas de Privacidade disponibilizadas no site <a href="www.beautboss.com" class="pink-link">www.beautboss.com</a> 
    e nos aplicativos para Smartphone.</strong>
    </p>

    <p class="grey-text">
    Se determinadas práticas forem alteradas de modo a afetar o tratamento das 
    informações pessoais já fornecidas, a Beautboss comunicará o Usuário sobre 
    a nova Política de Privacidade, por e-mail, ao endereço cadastrado no 
    site <a href="www.beautboss.com" class="pink-link">www.beautboss.com</a>.
    </p>

    <p class="grey-text">
    O Usuário que tenha optado por não receber comunicações da Beautboss, e, 
    portanto, não receba a notificação sobre a alteração das Políticas de 
    Privacidade, estará, ainda assim, sujeito às novas políticas, 
    comprometendo-se a, espontaneamente, consultá-las no site da Beautboss. 
    Caso o Usuário continue a utilizar os Serviços após a alteração das 
    Políticas de Privacidade, interpretar-se-á que ele aceitou todas as 
    alterações, estando, portanto, vinculado e sujeito às Políticas de 
    Privacidade conforme alteradas.
    </p>

    <h3 class="grey-subtitle">Informações coletadas pela Beautboss</h3>

    <p class="grey-text">Com o objetivo de prestar os Serviços e/ou aperfeiçoar os 
    Serviços prestados, a Beautboss poderá coletar as seguintes informações:

    <ul class="grey-text">

      <li>Informações que o Usuário expressamente decida disponibilizar, tais como
      nome, cidade, imagem, mediante o preenchimento e envio de formulário
      específico através do site www.beautboss.com ou de aplicativos para
      Smartphone. Quando uma imagem (fotografia) for carregada, qualquer
      dado associado a ela, como data e local em que foi tirada, poderá ser
      igualmente carregado, a critério do Usuário. <strong>O Usuário será responsável
      por escolher se as informações serão públicas, privadas ou visíveis a
      apenas determinado grupo de Usuários da rede. A Beautboss não se
      responsabiliza pelo uso das informações do Usuário por terceiros ou
      por demais Usuários caso ele opte por disponibilizá-las publicamente
      na rede ou a determinado(s) grupo(s) de Usuários.</strong></li>

      <li>Informações pessoais do Usuário disponíveis em seu perfil público no
      Facebook: O Usuário poderá optar por criar uma conta no site da
      Beautboss mediante o fornecimento de um endereço de e-mail e senha ou
      por meio de seu perfil no Facebook. Caso o Usuário se cadastre no site da
      Beautboss através do Facebook, serão coletadas as informações presentes
      em seu perfil público do Facebook. Caso o Usuário crie login e senha
      específicos para acessar a rede, tal senha poderá ser modificada a
      qualquer momento pelo Usuário. A senha do Usuário não é armazenada ou
      visível para a Beautboss, seus empregados e demais colaboradores.
      Ademais, o endereço de e-mail do Usuário não poderá ser visualizado
      pelos demais Usuários da rede, <strong>a não ser que tal informação seja
      disponibilizada publicamente na rede pelo próprio Usuário, o que a
      Beautboss desaconselha.</strong></li>

      <li>Informações fornecidas por terceiros: De modo a facilitar o
      compartilhamento de informações sobre Serviços com Usuários que
      estejam cadastrados na rede da Beautboss, o Usuário poderá integrar sua
      conta com outras contas cadastradas junto a terceiros, como Facebook ou
      lista de contatos, utilizando-se de métodos seguros de conexão
      disponibilizados por referidos terceiros. Nesta hipótese de conexão entre a
      conta do Usuário no site da Beautboss e de terceiros, algumas informações
      sobre o Usuário coletadas por tais terceiros poderão ser compartilhadas
      com a Beautboss. Estes terceiros nunca irão disponibilizar senhas do
      Usuário para a Beautboss e serão responsáveis por informar ao Usuários
      sobre os dados que serão compartilhados com a Beautboss. A Beautboss
      nunca irá publicar qualquer conteúdo nos perfis dos Usuários junto a
      terceiros, <strong>salvo nas hipóteses em que o Usuário tenha expressamente
      autorizado ou realizado alguma ação diretamente nesse sentido.</strong></li>
        
      <li>Lista de contatos: Para localizar outros Usuários na rede, o Usuário poderá,
      mediante aceitação expressa, optar por carregar em sua conta da
      Beautboss a lista de contatos presente em seu dispositivo de telefone
      celular (sistema iOS ou Android). A Beautboss não armazenará tais
      informações e não as associará com a conta do Usuário ou outras
      informações pessoais fornecidas.</li>

      <li>Posição atual do Usuário: De modo a permitir a prestação dos Serviços e a
      marcação de informações na rede, <strong>o Usuário deverá aceitar que a sua
      posição seja rastreada através do GPS de seu dispositivo de telefone
      celular</strong> (sistema iOS ou Android). A Beautboss não associará tais
      informações com a conta do Usuário ou outras informações pessoais.</li>

      <li>Informações técnicas e de utilização dos Serviços: De modo a compreender
      como o Serviço é utilizado pelos Usuários e como pode ser aperfeiçoado, a
      BeautBoss poderá receber, armazenar e analisar determinadas
      informações, sempre que o Usuário interagir com os Serviços, tais como (a)
      informações a respeito do navegador e/ou dispositivo de telefone celular
      utilizado pelo Usuário, de modo a otimizar a prestação dos Serviços para
      navegadores e dispositivos comuns, e, ainda, (b) informações sobre
      páginas visitadas e pesquisas realizadas pelos Usuários na rede, funções e
      comunicações da Beautboss com os quais o Usuário interage. Estas
      informações geram estatísticas sobre a utilização do Serviço e possibilitam
      identificar propaganda alvo, mas nunca serão compartilhadas com terceiros
      de modo a permitir a identificação pessoal do Usuário.</li>

      <li>Endereço IP e cookies: Referidos identificadores alfanuméricos ajudam a
      BeautBoss, através da leitura prévia de cookies gravados e/ou endereços
      de IP acessados, a distinguir navegadores e dispositivo de modo a evitar
      que as informações sejam mostradas mais de uma vez ao Usuário,
      permitem que o Usuário permaneça conectado no site da Beautboss sem
      ter que se conectar todas as vezes em que queira acessar a rede, previnem
      ações duplicadas, como o resgate duplicado de cupons, otimizando a
      navegação do Usuário na rede.<br>
      A Beautboss utiliza cookies que são indispensáveis para a prestação dos
      Serviços.
      Um “cookie” é uma pequena linha de texto alfanumérica armazenada por
      navegadores de internet ou dispositivo de telefone celular quando uma pessoa
      visita uma página de internet ou uma propaganda específica e pode armazenar as
      preferências dos usuários e outras informações.
      Os cookies não identificam a pessoa (os dados são coletados e agregados
      anonimamente) e não podem ser usados para acessar qualquer outra informação
      do computador e/ou do dispositivo de telefone celular do Usuário.</li>

      <li>Falhas e relatório de erros: Caso o Usuário identifique algum erro durante a
      utilização dos Serviços, a BeautBoss poderá gerar um relatório de erros
      que inclui informações técnicas e de utilização e, caso o Usuário esteja
      conectado, informações sobre sua conta, permitindo, assim, que o
      problema seja diagnosticado e medidas sejam tomadas para evitar que
      ocorra novamente.</li>

    </ul>

    </p>

    <h3 class="grey-subtitle">Uso de informações pessoais pela Beautboss</h3>

    <p class="grey-text">
    Todas as informações pessoais do Usuário, sem restrição, serão tratadas segundo
    os princípios de confidencialidade e proteção da vida privada, mediante o respeito
    da legislação em vigor e não serão cedidas ou comunicadas a quaisquer terceiros,
    sem o expresso consentimento do Usuário, exceto quando houver determinação
    judicial para tanto, quando verificado pela BeautBoss que a ferramenta está sendo
    usada de forma ilícita ou contrária aos propósitos e princípios estabelecidos neste
    instrumento e nos Termos de Uso, ou em caso de operação societária envolvendo
    a Beautboss que implique a transferência de seus ativos a terceiros. As
    informações fornecidas pelo Usuário e coletadas nos termos deste instrumento
    fazem parte dos ativos da Beautboss e eventuais terceiros adquirentes de tais
    ativos deverão continuar a tratar as informações pessoais conforme aqui previsto.
    <strong>Ademais, a Beautboss se reserva no direito de, a qualquer momento,
    comercializar com terceiros dados dos Usuários que não os identifiquem,
    com o único propósito de permitir a verificação, por tais terceiros, dos
    interesses dos Usuários por determinados produtos e/ou serviços em
    determinadas regiões, localidades ou bairros.</strong>
    </p>

    <p class="grey-text">
    O e-mail cadastrado pelo Usuário na rede poderá ser utilizado pela Beautboss
    para o envio de (i) eventuais anúncios sobre a atualização ou melhorias nas
    ferramentas existentes para a utilização dos Serviços; (ii) recomendação de
    conteúdo que a Beautboss entenda ser interessante para o Usuário; (iii)
    notificações sobre alterações relevantes às Políticas de Privacidade ou aos
    Termos de Uso; (iv) mensagens privadas relacionadas aos Serviços ou ao uso dos
    Serviços.
    </p>

    <p class="grey-text">
    O acesso às informações pessoais fornecidas pelos Usuários na rede está restrito
    aos empregados e prestadores de serviços autorizados da Beautboss, que
    necessitem ter acesso a tais informações para a correta prestação dos Serviços.
    Aqueles que se utilizarem indevidamente dessas informações, ferindo estas
    Políticas de Privacidade, responderão legalmente por seus atos.
    </p>

    <p class="grey-text">
    A fim de aperfeiçoar a rede e como parte do processo contínuo de revisão interna
    e otimização da experiência, análise do perfil dos Usuários e da qualidade geral
    dos Serviços, <strong>todas as informações que não sejam consideradas de cunho
    pessoal e que não permitam a identificação pessoal do Usuário, incluindo
    mas não se limitando a conteúdos compartilhados na rede, poderão ser
    utilizadas pela BeautBoss e eventualmente transmitidas a terceiros.</strong>
    </p>
    
    <h3 class="grey-subtitle">Proteção das informações pessoais pela Beautboss</h3>

    <p class="grey-text">
    As informações pessoais fornecidas pelo Usuário são transmitidas para e
    armazenadas pela Beautboss mediante uso de criptografia de alto nível disponível
    no mercado de TI (tecnologia da informação). A Beautboss utiliza métodos
    modernos de segurança e acesso que protegem seus servidores e database
    contra o acesso não autorizado.
    </p>

    <p class="grey-text">
    Entretanto, nenhum método de transmissão ou armazenamento de dados é 100%
    seguro, e, portanto, a Beautboss não pode garantir que tais dados não sejam
    visualizados, manuseados ou interceptados por terceiro não autorizado. O acesso
    e uso não autorizado por terceiros, falhas no hardware e software utilizados para a
    prestação dos Serviços e outros fatores podem comprometer a segurança das
    informações pessoais fornecidas pelo Usuário.
    </p>

    <p class="grey-text">
    A Beautboss se compromete, entretanto, a envidar seus melhores esforços para
    impedir o acesso não autorizado de terceiros às informações pessoais fornecidas
    pelo Usuário, notificando-o, por e-mail, se, de alguma forma, entender que a
    privacidade das informações está comprometida por falha de segurança ou
    acesso não autorizado. <strong>De toda forma, ao utilizar os Serviços, o Usuário
    concorda em isentar a Beautboss de qualquer responsabilidade em caso de
    uso não autorizado de suas informações pessoais nas hipóteses aqui
    previstas.</strong>
    </p>

    <p class="grey-text">
    <strong>O Usuário é igualmente responsável pela segurança de suas informações
    pessoais, devendo adotar medidas nesse sentido, como por exemplo: (i)
    criar senhas seguras e únicas; (ii) ter certeza de que a conexão à internet
    utilizada para acesso aos Serviços é confiável e segura; (iii) apenas publicar
    informações e fotos se estiver confortável que tais informações sejam
    públicas; (iv) ter cuidado com as informações fornecidas a terceiros; (v)
    atentar quando for redirecionado para site de terceiros.</strong>
    </p>

    <h3 class="grey-subtitle">Dúvidas</h3>

    <p class="grey-text">
    Em caso de dúvidas em relação a estas Políticas de Privacidade ou ao uso de
    suas informações pessoais, o Usuário poderá entrar em contato com a Beautboss
    através do e-mail <a href="mailto:policy@beautboss.com" class="pink-link">policy@beautboss.com</a> 
    que envidará melhores esforços para solucionar a dúvida apresentada pelo Usuário.
    </p>

  </div>
  
</div>

<%= render "shared/extended_footer" %>