<%= render "shared/header_small" %>

<div style="background-color: #f1f1f1; padding: 20px 40px 40px 40px;">

  <div class="container" style="text-align: justify;">

    <h2 class="grey-title">termos de uso</h2><br>

      <p class="grey-text">
      A Beautboss é uma rede social direcionada exclusivamente à Indústria da
      Beleza. Os Termos de Uso a seguir regem o uso de todos os serviços
      prestados aos Usuários através do site <a href="www.beautboss.com" class="pink-link">www.beautboss.com</a> e dos aplicativos
      para telefone celular com sistemas operacionais iOS e Android.
      </p>

      <h3 class="grey-subtitle">Definições</h3>

      <p class="grey-text">Para fins destes Termos:

        <ul class="grey-text">
          <li>“Usuário(s)” – significa toda e qualquer pessoa física ou jurídica que se
          cadastre no site <a href="www.beautboss.com" class="pink-link">www.beautboss.com</a> via website ou por aplicativo de telefone
          celular para usufruir dos Serviços.</li>
          <li>“Indústria da Beleza” - significa o conjunto de profissionais, sociedades,
          empresas e/ou todo e qualquer tipo de estabelecimento que preste serviços de
          embelezamento, assim compreendidas, mas não se limitando, as atividades
          comuns a cabeleireiros (corte, tintura, penteado, dentre outros), maquiadores,
          manicures, barbeiros, bem como o conjunto de produtos de beleza em si, tais
          como cosméticos, itens de perfumaria, itens de maquiagem, tinturas de
          coloração, esmaltes, produtos para barbearia, assessórios de cabelo e
          penteado, assessórios para unhas, além de produtos para salão de uso
          profissional (secadores, tesouras, dentre outros), e de possíveis lançamentos
          de acordo com feiras de beleza, e todo e qualquer produto relacionado.</li>
          <li>“Serviços” – tem o significado que lhe é atribuído em “Objeto”, abaixo.</li>
          <li>“Termo(s) de Uso”, ou “Termo(s)” - significa este documento que rege o uso
          dos Serviços prestados aos Usuários através do site www.beautboss.com e
          dos aplicativos para telefone celular com sistemas operacionais iOS e Android.</li>
          <li>“Smartphone” - significa todo e qualquer dispositivo de telefone celular que
          possua sistema operacional iOS versão 8.0 (ou superior) ou Android versão 4.0
          (ou superior).</li>
        </ul>

      </p>

      <h3 class="grey-subtitle">Aceitação dos Termos de Uso</h3>

      <p class="grey-text">
      Qualquer Usuário que pretenda utilizar os serviços prestados pela Beautboss
      deverá aceitar os termos e condições gerais de uso e todas as demais políticas
      e princípios que o regem. A aceitação dos termos de uso abaixo descritos é
      indispensável para a realização do cadastro e para a utilização dos serviços
      prestados pela Beautboss.
      </p>

      <p class="grey-text">
      O Usuário deverá ler, certificar-se de haver entendido e aceitar todas as
      condições estabelecidas neste Termo de Uso e nas Políticas de Privacidade e
      demais documentos incorporados a eles por referência, antes de seu cadastro
      como Usuário.
      </p>

      <h3 class="grey-subtitle">Atualização dos Termos de Uso</h3>

      <p class="grey-text">
      A Beautboss poderá, a qualquer tempo, alterar os termos e condições dos
      Termos de Uso, visando a melhoria dos serviços prestados. Os novos termos e
      condições entrarão em vigor imediatamente e o Usuário estará
      automaticamente a ele vinculado. Caso não esteja de acordo com os novos
      termos e condições, o Usuário deverá cancelar seu cadastro, não sendo devido
      qualquer pagamento a qualquer título por parte da Beautboss nesse sentido.
      </p>
      
      <h3 class="grey-subtitle">Objeto</h3>

      <p class="grey-text">
      Os serviços prestados pela Beautboss consistem na disponibilização e
      gerenciamento de uma plataforma virtual (doravante denominada “rede”), a ser
      acessada via website ou aplicativo de Smartphone, que permite ao Usuário
      compartilhar informações sobre a Indústria da Beleza com demais Usuários da
      rede, os quais poderão, assim, identificar profissionais, estabelecimentos e
      produtos relacionados situados em até 10 km de sua posição (“Serviços”). A
      rede poderá, ainda, a exclusivo critério da Beautboss, permitir que o Usuário
      identifique profissionais, estabelecimentos e produtos situados além do raio de
      10 km supra mencionado.
      </p>

      <p class="grey-text">
      <strong>A Beautboss não disponibiliza catálogo da Indústria da Beleza na rede; as
      informações sobre profissionais, estabelecimentos e produtos são
      compartilhadas e veiculadas diretamente pelos Usuários e/ou terceiros,
      únicos responsáveis pelo conteúdo compartilhado.</strong>
      </p>

      <p class="grey-text">
      Os Serviços são prestados aos Usuários gratuitamente. Entretanto, a
      Beautboss se reserva o direito de, a qualquer tempo, cobrar por sua utilização
      ou por parte dele, mediante notificação prévia aos Usuários. <strong>A Beautboss
      poderá, ainda, modificar, restringir, suspender ou descontinuar os
      Serviços, independentemente de notificação prévia aos Usuários.</strong>
      </p>

      <p class="grey-text">
      A Beautboss utiliza os aplicativos do FaceBook, Twitter, Foursquare, Tumblr,
      Flickr e Instagram para a prestação dos Serviços, mas não é certificada por tais
      empresas. Antes de compartilhar informações, recomendamos que os Usuários
      leiam atentamente os Termos de Uso e Políticas de Privacidade aplicáveis às
      referidas empresas, que detêm direitos de propriedade intelectual.
      </p>

      <h3 class="grey-subtitle">Capacidade para Cadastrar-se/Cadastro</h3>

      <p class="grey-text">
      Os Serviços estão disponíveis apenas para as pessoas que tenham
      capacidade civil para contratá-los ou que sejam devidamente representadas ou
      assistidas, nos termos da lei. <strong>Pessoas que não gozem dessa capacidade ou
      que não estejam devidamente representadas ou assistidas não podem
      utilizar os Serviços</strong>, ficando o Usuário desde já ciente das penalidades e
      sanções legais do Código Civil Brasileiro, notadamente os artigos 166, I, 171, I
      e 180. Estão igualmente impedidos de se cadastrar aqueles cujo cadastro
      tenha sido cancelado anteriormente pela Beautboss, em razão da
      inobservância das regras estabelecidas nestes Termos de Uso e nas Políticas
      de Privacidade da Beautboss.
      </p>

      <p class="grey-text">
      Em caso de pessoa jurídica, os Serviços somente poderão ser utilizados por
      seu representante legal ou mandatário devidamente constituído, sendo que o
      Usuário pessoa jurídica garante sua devida representação a partir do momento
      em que se cadastrar na rede.
      </p>

      <p class="grey-text">
      A Beautboss não se responsabiliza pelos dados pessoais inseridos pelos
      Usuários. Os Usuários garantem a veracidade, exatidão e autenticidade dos
      dados pessoais cadastrados e, ainda, que tais dados atendem as políticas da
      Beautboss, descritas a seguir. Os Usuários deverão isentar e indenizar a
      Beautboss por qualquer dano, perda, despesa ou contingência decorrente da
      inexatidão ou inveracidade dos dados cadastrais inseridos e, ainda, caso tais
      dados violem o presente Termo.
      </p>

      <p class="grey-text">
      O Usuário é responsável por manter a confidencialidade de seus dados e de
      sua senha criados ou alterados no site da Beautboss. O Usuário é o único
      responsável por todas as atividades que ocorram sob sua conta e se
      compromete a informar a Beautboss imediatamente acerca de qualquer uso ou
      suspeita de uso não autorizado de sua conta ou qualquer outra violação de
      segurança. A Beautboss não será responsável por quaisquer perdas e/ou
      danos resultantes de acessos não autorizados ou uso de sua conta e, ainda,
      pelas informações compartilhadas na rede sob a conta do Usuário. Entretanto,
      a Beautboss envidará melhores esforços e tomará todas as medidas
      necessárias ou convenientes para retirar da rede qualquer conteúdo que julgar
      inadequado, inclusive aqueles flagrados como impróprios por demais Usuários.
      </p>

      <p class="grey-text">
      A Beautboss se reserva o direito de recusar ou cancelar qualquer cadastro que
      esteja em desacordo com os termos e condições do presente Termo de Uso. <strong>A
      Beautboss poderá, ainda, cancelar a conta de Usuário que esteja inativo
      por período superior a 06 meses.</strong>
      </p>

      <h3 class="grey-subtitle">Práticas Vedadas</h3>

      <p class="grey-text">É vedado ao Usuário ou a qualquer terceiro, em relação à rede:</p>

      <ul class="grey-text">
        <li> Publicar qualquer tipo de conteúdo que não esteja relacionado à Indústria
        da Beleza;</li>
        <li> Publicar spam;</li>
        <li> Publicar imagens, vídeos e qualquer tipo de conteúdo impróprio ou ilegal,
        tais como conteúdo racista, ameaçador, difamatório, obsceno, e/ou que
        viole o presente Termo de Uso;</li>
        <li> Publicar ou transmitir qualquer conteúdo que o Usuário não tenha o direito
        de disponibilizar;</li>
        <li> Publicar, transmitir ou de outra forma fazer uso de qualquer conteúdo que
        viole direitos de outro Usuário ou de terceiros, incluindo direitos de
        propriedade intelectual;</li>
        <li> Anunciar/vender qualquer tipo de produto ou serviço ou realizar qualquer
        forma de propaganda na rede, observado o disposto abaixo;</li>
        <li> Utilizar os Serviços para fins diversos daqueles para os quais foram
        desenvolvidos, a exclusivo critério da Beautboss;</li>
        <li> Realizar qualquer ação que interfira ou ameace interferir no correto
        funcionamento da plataforma;</li>
        <li> Violar qualquer medida adotada pela Beautboss para impedir ou restringir
        o acesso de determinado Usuário aos Serviços;</li>
        <li> Utilizar software ou qualquer outro processo para indexação de sites
        (“crawl”) ou monitoramento de páginas (“spider”) qualquer página da rede.</li>
        <li> Utilizar perfil robô;</li>
        <li> Fazer engenharia reversa do software utilizado pela Beautboss;</li>
        <li> Utilizar, copiar, alterar, imitar marca ou quaIquer outro direito de
        propriedade intelectual da Beautboss</li>
      </ul>
      
      <p class="grey-text">
      O Usuário que seja um profissional ou estabelecimento da Indústria da Beleza
      poderá divulgar seus próprios serviços ou produtos desde que respeitado o
      presente Termo, sendo vedada a divulgação de produtos ou serviços de
      terceiros.
      </p>

      <p class="grey-text">
      O Usuário é o único e exclusivo responsável pelo conteúdo publicado na rede
      sob sua conta virtual/página, devendo isentar e indenizar a Beautboss por
      todos e quaisquer perdas e danos por ela sofridos ou que lhe sejam imputados
      em decorrência do conteúdo ou dados publicados pelo Usuário.
      </p>

      <p class="grey-text">
      A Beautboss poderá monitorar, editar ou remover qualquer conteúdo, no todo
      ou em parte, que não siga os critérios acima e poderá divulgar ou disponibilizar
      a terceiros o conteúdo do Usuário para responder a reclamações de violação
      de direitos de terceiros, pela segurança dos demais Usuários ou por exigência
      da lei.
      </p>

      <p class="grey-text">
      Ademais, caso a Beautboss, a seu exclusivo critério, entenda que determinado
      conteúdo tenha sido publicado pelo Usuário em local inadequado;
      exemplificativamente, em comunidade equivocada, poderá realocar o conteúdo
      ou excluí-lo, também a seu exclusivo critério.
      </p>
      
      <h3 class="grey-subtitle">Cancelamento</h3>

      <p class="grey-text">
      O Usuário poderá, a qualquer tempo, cancelar sua conta na rede e, a partir
      deste momento, não poderá utilizar os Serviços ou acessar a plataforma.
      </p>

      <p class="grey-text">
      A Beautboss, a seu exclusivo critério, poderá, sem prejuízo de outras medidas,
      cancelar a conta do Usuário e, conforme indicado anteriormente, remover
      qualquer e/ou todo o conteúdo por ele compartilhado através da plataforma, a
      qualquer momento, em caso de violação destes Termos de Uso.
      </p>

      <p class="grey-text">
      Sem prejuízo do disposto acima, por razões de segurança, a Beautboss
      poderá, a seu exclusivo critério, suspender ou cancelar o cadastro do Usuário
      caso a Beautboss suspeite de qualquer ilegitimidade, fraude, ou qualquer ato
      contrário ao presente Termo de Uso.
      </p>

      <p class="grey-text">
      A partir do cancelamento de sua conta, o Usuário não poderá utilizar os
      Serviços, acessar a plataforma e se comunicar com os demais Usuários
      através da rede. Todas as informações pessoais vinculadas ao seu perfil, tais
      como nome, sobrenome, endereço, imagens, dentre outras que tenham sido
      eventualmente incluídas pelo próprio Usuário, serão excluídas da rede e
      inutilizadas; entretanto, todas as informações compartilhadas por referido
      Usuário, incluindo compartilhamentos ou comentários sobre profissionais,
      estabelecimentos, produtos de beleza, dentre outros, serão mantidas na
      plataforma. A respeito do tratamento das informações do Usuário, fazer
      referência ao documento “Políticas de Privacidade”.
      </p>

      <p class="grey-text">
      Quando do cancelamento da conta do Usuário, o presente Termo deixará de
      produzir efeitos, à exceção das disposições que, em razão de sua natureza,
      devam sobreviver ao término da relação entre Beautboss e Usuário, incluindo,
      mas não se limitando às cláusulas sobre limitação de responsabilidade, não
      garantia e indenização.
      </p>
      
      <h3 class="grey-subtitle">Limitação de responsabilidade e não garantia</h3>

      <p class="grey-text">
      A Beautboss não será responsável, em qualquer circunstância, por eventuais
      perdas e danos, diretos ou indiretos, incorridos pelo Usuário ou por terceiros
      com relação aos produtos e/ou serviços fornecidos por demais Usuários ou
      quaisquer terceiros, incluindo profissionais e estabelecimentos de beleza
      identificados na rede, ou em relação à comercialização em si de tais produtos
      e/ou serviços.
      </p>

      <p class="grey-text">
      A plataforma é fornecida no estado em que se encontra (“as is”), sem garantias
      expressas ou implícitas aos Usuários, incluindo, sem limitação, garantias de
      comercialização, adequação a uma finalidade específica, qualidade dos
      serviços prestados ou dos produtos fornecidos pelos profissionais e
      estabelecimentos da Indústria da Beleza presentes na rede ou, ainda, pela
      veracidade, utilidade e precisão das informações compartilhadas pelos
      Usuários, as quais não são avalizadas ou submetidas a controle prévio por
      parte da Beautboss. Ao efetuar o cadastro e a aceitar o presente Termo, o
      Usuário concorda que utilizará os Serviços por sua conta e risco, sendo
      responsável por verificar as informações compartilhadas na rede, antes de
      decidir sobre a utilização, compra ou comercializaçãode um serviço ou de um
      produto.
      </p>

      <p class="grey-text">
      O único compromisso da Beautboss perante o Usuário é de manter a
      plataforma em funcionamento, segura e livre de erros, não garantindo, porém,
      que o será sempre ou que funcionará sem interrupções, atrasos ou
      imperfeições.
      </p>

      <p class="grey-text">
      O Usuário reconhece que a Internet utilizada para a prestação dos Serviços
      poderá estar sujeita a violações de segurança e que, nesse caso, o
      compartilhamento de conteúdos e demais informações poderá não ser seguro.
      </p>

      <h3 class="grey-subtitle">Propagandas e outros conteúdos comerciais</h3>

      <p class="grey-text">
      Visando ampliar a opção de produtos e serviços a serem oferecidos aos
      Usuários, a Beautboss poderá divulgar na rede anúncios e outros conteúdos
      comerciais de terceiros, podendo ser remunerada por isso. Nesse sentido, <strong>os
      Usuários autorizam a Beautboss a usar conteúdos por eles compartilhados</strong>
      na plataforma e informações relacionadas a conteúdos comerciais de seu
      interesse (identificados exemplificativamente por curtidas na rede), <strong>sem que,
      em contrapartida, tenham o direito de receber qualquer pagamento pelo
      fornecimento de tais informações aos anunciantes.</strong> As informações de
      cunho pessoal do Usuário não serão repassadas a quaisquer terceiros sem seu
      consentimento, nos termos das Políticas de Privacidade da Beautboss.
      </p>

      <p class="grey-text">
      <strong>Os Usuários concordam, ainda, com a divulgação de referidos anúncios a
      qualquer tempo durante a prestação dos Serviços e se comprometem a
      não impedir que sejam visualizados na rede.</strong>
      </p>
      
      <h3 class="grey-subtitle">Disposições gerais</h3>

      <p class="grey-text">
      O presente Termo de Uso é regido pelas Leis vigentes da República Federativa
      do Brasil.
      </p>

      <p class="grey-text">
      A nulidade ou invalidade de qualquer das cláusulas deste Termo não
      prejudicará a validade e eficácia das demais cláusulas ou do próprio Termo.
      </p>

      <p class="grey-text">
      Fica <strong>eleito o foro da comarca de São Paulo - SP</strong>, para resolver controvérsias
      ou dúvidas oriundas da utilização dos Serviços ou relacionadas a estes Termos
      de Uso, com a exclusão de qualquer outro por mais privilegiado que seja.
      </p>

      <p class="grey-text">
      Dúvidas, denúncias e violações aos Termos de Uso devem ser relatadas ao
      email <a href="mailto:policy@beautboss.com" class="pink-link">policy@beautboss.com</a>. Não é prevista qualquer remuneração aos
      Usuários em contrapartida a eventual sugestão de aperfeiçoamento da
      plataforma, ainda que referido aperfeiçoamento venha a ser efetivamente
      implementado.
      </p>

  </div>
  
</div>

<%= render "shared/extended_footer" %>