<%= render "shared/header_small" %>

<div style="background-color: #f1f1f1; padding: 20px 40px 40px 40px;">

  <div class="container" style="text-align: justify;">

    <h2 class="grey-title">terms of use</h2><br>

      <p class="grey-text">Beautboss is a social network exclusively directed to the Beauty Industry. The terms of use below govern the use of all the services provided to the Users through the website <a href="www.beautboss.com" class="pink-link">www.beautboss.com</a> e the applications for mobile devices with operational systems iOS and Android.</p>

      <h3 class="grey-subtitle">Definitions</h3>

      <p class="grey-text">For the purposes of these Terms:

        <ul class="grey-text">
          <li>“User(s)” – means each and every individual or corporation that registers in the website <a href="www.beautboss.com" class="pink-link">www.beautboss.com</a> via the website or the mobile application to enjoy the Services.</li>
          <li>“Beauty Industry” – means the set of professionals, partnerships, companies and/or any type of facility that provides beauty services, including, but not limited to, the activities common to hairdressers (haircut, hair coloring, hairdressing, among others), makeup artists, manicures, barbers, as well as an array of beauty products, such as cosmetics, perfumery, makeup, hair colors, nail polishes, barber products, hair and hairdressing accessories, nail accessories, besides salon products (hair dryers, scissors, among others) and possible launches according to beauty fairs, and any other related products.</li>
          <li>“Services” – has the meaning set forth in “Purpose” below.</li>
          <li>“Term(s) of Use” or “Term(s)” – means this document that governs the use of the Services provided to the Users through the website <a href="www.beautboss.com" class="pink-link">www.beautboss.com</a> and the applications for mobile devices with operational systems iOS and Android.</li>
          <li>“Smartphone” – means any mobile device with the operational system iOS version 8.0 (or higher) or Android version 4.0 (or higher).</li>
        </ul>

      </p>

      <h3 class="grey-subtitle">Acceptance of the Terms of Use</h3>

      <p class="grey-text">Any User that intends to use the services provided by Beautboss must accept the terms and general conditions of use and all other policies and principles that govern them. The acceptance of the terms of use described below is indispensable for the registration and use of the services provided by Beautboss.</p>

      <p class="grey-text">You have to read, be sure you understood everything and accept all the conditions set forth in this Term of Use and Privacy Policies, and any other documents included thereby by reference, before registering as User.</p>

      <h3 class="grey-subtitle">Update of the Terms of Use</h3>

      <p class="grey-text">Beautboss may, at any time, change the terms and conditions of the Terms of Use to improve the services it provides. The new terms and conditions will be immediately in force and the User will be automatically bound thereto. If you do not agree with the new terms and conditions, you should cancel your register, and Beautboss shall not be liable for any payment at any title whatsoever in this context.</p>
      
      <h3 class="grey-subtitle">Purpose</h3>

      <p class="grey-text">The services provided by Beautboss consist in making available and managing a virtual platform (hereinafter called “network”) to be accessed via website or Smartphone application that permits Users to share information about the Beauty Industry with other network Users, thus allowing them to identify related professionals, establishments and products up to 10 km from their location ("Services"). Likewise, the network may, at Beautboss’s exclusive discretion, allow Users to identify professionals, establishments and products located beyond the abovementioned 10 km radius.

      <strong>Beautboss does not provide a Beauty Industry catalog in the network; the information about professionals, establishments and products are shared and provided directly by the Users and/or third parties, and they are solely responsible for such shared content.</strong>

      The Services are provided to the Users free of charges. However, Beautboss is entitled to charge for the use of the Services, or part of it, from time to time, upon prior notice to the Users. <strong>Beautboss may further change, restrict, suspend or discontinue the Services, regardless of prior notice to the Users.</strong>

      Beautboss uses FaceBook, Twitter, Foursquare, Tumblr, Flickr and Instagram apps to provide its Services, but is not certified by such companies. Before sharing information, we recommend that you read carefully the Terms of Use and Privacy Policies applicable to such companies that hold intellectual property rights.</p>

      <h3 class="grey-subtitle">Competence to Register/The Register</h3>

      <p class="grey-text">The Services are available only for competent persons to retain them, or which are duly represented or assisted under the law. <strong>Persons that are not competent or duly represented or assisted shall not be able to use the services</strong>, and the User is hereby informed of the penalties and sanctions of the Brazilian Civil Code, notably sections 166(I), 171(I) and 180. Likewise, persons whose register has already been cancelled by Beautboss by reason of non-compliance with the rules established in these Terms of Use and Privacy Policies shall be prevented from registering again.

      In case of a corporation, the Services may be used only by its legal representative or duly constituted agent, and the corporate User guarantees its legal representation upon its registration in the network.

      Beautboss is not liable for personal data included by the Users. You will ensure the truthfulness, accuracy and authenticity of the personal data that you register, and, furthermore, that such data meet Beautboss policies described below. The Users shall exempt and hold Beautboss harmless from and against any damage, loss, expense or contingency resulting from the inaccuracy or untruthfulness of the registered data, likewise if such data breach the present Term.

      You are responsible for keeping the confidentiality of your own data and the password you created or changed in the Beautboss website. You are solely responsible for all the activities in your account and does hereby agree to inform Beautboss about any non-authorized use or suspicion of non-authorized use of your account, and, also, for the information shared in the network under your User account. Notwithstanding, Beautboss will make its best efforts and take all the necessary or convenient measures to withdraw from the network any content that it considers improper, including those contents found unsuitable by other Users.

      Beautboss is entitled to refuse or cancel any register that is not in agreement with the terms and conditions of the present Term of Use. Beautboss may further cancel the User’s account which has been inactive for over six (06) months.</p>

      <h3 class="grey-subtitle">Prohibited Practices</h3>

      <p class="grey-text">Considering the network, the User or any other third party shall not:</p>

      <ul class="grey-text">
          <li>Post any type of content which is not related to the Beauty Industry;</li>
          <li>Post spam;</li>
          <li>Post images, videos, or any type of improper or illegal content, such as racist, threatening, slanderous, obscene content and/or in breach of the present Term of Use;</li>
          <li>Post or transmit any content that the User is not entitled to provide;</li>
          <li>Post, transmit or otherwise make use of any content that violates the rights of another User or third parties, including rights of intellectual property;</li>
          <li>Advertise/sell any type of product or service or make any type of advertisement in the network, subject to the provisions below;</li>
          <li>Use the Services for different purposes from the purposes for which they were developed, at Beautboss’s exclusive discretion;</li>
          <li>Perform any act that interferes or threatens the correct functioning of the platform;</li>
          <li>Violate any measure adopted by Beautboss to prevent or restrict the access of a specific User to the Services;</li>
          <li>Use software or any web crawler or web spider to index or monitor any network page;</li>
          <li>Use a robot profile;</li>
          <li>Make reverse engineering of the software used by Beautboss;</li>
          <li>Use, copy, alter or imitate Beautboss’s brands or any other intellectual property rights.</li>
      </ul>
      
      <p class="grey-text">If you are a Beauty Industry professional or establishment, you may advertise your own services or products insofar as the present Term is respected, and the advertising of third-party products and services is hereby forbidden.
      You are solely and exclusively responsible for the content posted in the network under your virtual account/page, and you shall exempt and indemnify Beautboss for any losses or damages suffered thereby, or which are imputed thereto as a result of the content and data you have posted.
      Beautboss may monitor, edit or remove any content, in the whole or in part, that does not comply with the above criteria and may disclose and provide to third parties the User’s content in answer to any complaints of breach of third-party rights, for the other Users’ safety or by operation of law.
      Furthermore, if Beautboss, at its own discretion, understands that some content was posted by the User in an improper place, i.e., in the wrong community, it may relocate such content or exclude it, always at Beautboss’s exclusive discretion.</p>
      
      <h3 class="grey-subtitle">Cancellation</h3>

      <p class="grey-text">You may, at any time, cancel your account in the network and, from then on, you will not be able to use the Services or access the platform.
      Beautboss, at its own discretion, may cancel the User’s account, regardless of any other measures and, as previously indicated, may remove any and/or all the content such User shared through the platform, at any time, in case of breach of these Terms of Use.
      Subject to the above, for safety reasons Beautboss may, at its own discretion, suspend or cancel the User’s register in case Beautboss suspects of any unlawfulness, fraud or any act against the present Term of Use.
      As of the cancellation of your account, your will not be able to use the Services, access the platform and communicate with the other Users through the network. Any personal information bound to your profile, such as first name, last name, address, images, among others that may have been actually excluded by you, will be excluded from the network and disenabled; however, any information shared by you, including shares or comments about professionals, establishments, beauty products, among others, will remain in the platform. Considering Users’ information treatment, please refer to the “Privacy Policies”.
      Considering the cancellation of the User’s account, the present Term will no longer be effective, except for the provisions which, due to their nature, will survive the termination between Beautboss and the User, including, but not limited to, the clauses about limitation of liability, no warranties and indemnification.</p>
      
      <h3 class="grey-subtitle">Limitation of responsibility and no warranties</h3>

      <p class="grey-text">Beautboss will not be liable, in any way whatsoever, for any losses or damages, either direct or indirect, incurred by the User or any third parties with regard to the products and/or services provided by any other Users or third parties, including beauty professionals or establishments identified in the network, or with regard to the marketing of such products and/or services.
      The platform is provided “as is”, without express or implicit warranties to the Users, including, but not limited to, merchantability, fitness for a particular purpose, quality of the services or products provided by the Beauty Industry professionals or establishments present in the network, or, else, for the truthfulness, utility and accuracy of the information shared by the Users, which shall not be certified or subject to prior control by Beautboss. Upon registering and accepting the present Term, you agree that you will use the Services on your own account and risk, and will be responsible for checking the information shared in the network before deciding whether to use, purchase or marketing of a service or product. 
      Beautboss’s only commitment before the User is to keep its platform in good working conditions, safe and free of errors, but does not warrant that it will be always so, or that it will work without discontinuance, delays or imperfections.
      The User recognizes that the Internet used for the provision of the Services may be subject to security breaches, and, in such case, the content and any other information that the User actually shared may not be safe.
      Advertisement and other business content
      To extend the option of products and services to be offered to its Users, Beautboss may disclose advertisements and other third-party business content in the network, and may be compensated thereby. In this context, the Users authorize Beautboss to use the content shared by such Users in the platform and information related to interesting business content (identified, for instance, by likes in the network), without, in return, being entitled to receive any consideration for providing such information to the advertisers. Your personal information will not be transferred to any third parties without your consent, under Beautboss Privacy Policies.
      <strong>Furthermore, the Users agree with the disclosure of such advertisement at any time during the provision of the Services and do hereby agree not to prevent such advertisements from being seen in the network.</strong></p>
      
      <h3 class="grey-subtitle">General Provisions</h3>
      
      <p class="grey-text">The present Term of Use is governed by the laws in force in the Federative Republic of Brazil.
      The nullity or invalidity of any of the clauses of this Term shall not affect the validity and enforceability of the other clauses or of the Term.
      The courts of the City of São Paulo – SP are hereby elected to settle any controversies or disputes arising out of the use of the Services or related to these Terms of Use, with the exclusion of any other courts, no matter how privileged they may be.
      Questions, denunciations and breaches of these Terms of Use should be reported to the email <a href="mailto:policy@beautboss.com" class="pink-link">policy@beautboss.com</a>. No compensation shall be granted to the Users in consideration for any suggestions of improvement of the platform, despite such improvement being actually implemented.</p>

  </div>
  
</div>

<%= render "shared/extended_footer" %>