<%= render "shared/header_authenticated" %>

<div class="clearfix" style="background-color: #f1f1f1; padding-top: 24px;">

  <div class="container">
    <%= render "register" %>
  </div>

</div>

<div class="clearfix" style="background-color: #f1f1f1; height: 60px;"></div>

<%= render "shared/extended_footer" %>