/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

html,
body {
  font-family: sans-serif;
}

div {
  z-index: 1;
}

.container {
  width: 970px;
  min-height: 100%;
}

#header {
  background-color: #770749;
  min-height: 264px;
  height: 264px;
  right: 0;
  left: 0;
}

#header-small {
  background-color: #770749;
  min-height: 90px;
  height: 90px;
  right: 0;
  left: 0;
}

#header-authenticated {
  background-color: #770749;
  min-height: 80px;
  height: 80px;
  right: 0;
  left: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.home {
  background-image: image-url("background-home.png"); 
  background-repeat: repeat-x;
  min-height: 300px;
}

.content {
  position: absolute;
  top: 165px;
  left: 25%;
  right: 25%;
  z-index: 999;
  width: 560px;
  min-width: 560px;
  min-height: 320px;
  background-color: #ffffff;
  background-image: image-url("content-background.png");
  background-repeat: no-repeat;
  background-position: top;
  margin-left: auto; 
  margin-right: auto;
  align-items: top;
}

.content-home {
  background-image: image-url("content-background.png");
  background-repeat: no-repeat;
  background-position: top;
  background-color: transparent;
  z-index: 999;
  width: 530px;
  min-width: 530px;
  min-height: 320px;
  margin-top: 38px;
  margin-left: 10px;
}

.content-pages {
  background-image: image-url("background-pages.png"); 
  background-repeat: repeat-x;
  min-height: 540px;
}

.content-sign-in {
  background-image: image-url("content-background.png");
  background-repeat: no-repeat;
  background-position: top;
  background-color: transparent;
  z-index: 999;
  width: 530px;
  min-width: 530px;
  min-height: 400px;
  margin-top: 31px;
}


.form-control {
  box-shadow: none;
}

.form-control:focus {
  box-shadow: none;
  border-color: #d55caa;
}

.input-lg {
  width: 386px;
  height: 50px;
  border-radius: 0;
  color: #c8c8c8;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 22px;
  margin-bottom: -1px;
}

.input-profile {
  width: 440px;
  height: 44px; 
  margin-bottom: 20px;
  border-radius: 0;
  color: #c8c8c8;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 20px;
}

.input-comment {
  width: 214px;
  height: 36px; 
  margin-bottom: 20px;
  margin-left: 58px;
  border-radius: 0;
  color: #c8c8c8;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 18px;
}

.btn {
  width: 388px;
  height: 60px;
  color: #ffffff;
  font-family: sans-serif;
  font-weight: 100 !important;
  font-size: 30px;
  border-radius: 10px;
  border: 0;
  margin: 10px;
}

.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
  background: #d55caa;
}

.btn:hover, .btn:focus, .btn.focus {
  background: #d55caa;
}

.btn-default {
  background: #a0a0a0;
}

.btn-primary {
  background: #770749;
}

.btn-success {
  background: #da5ca6
}

.btn-facebook {
  background: #5370c1;
}

.btn-facebook:focus, .btn-facebook.focus, .btn-facebook:active:focus, .btn-facebook:active.focus, .btn-facebook.active:focus, .btn-facebook.active.focus {
  background: #a0a0a0;
}

.btn-facebook:hover, .btn-facebook:focus, .btn-facebook.focus {
  background: #a0a0a0;
}

.center {
  margin-left: auto; 
  margin-right: auto;
  align-items: center;
  display: flex;
  justify-content: center;
}

.justify {
  text-align: justify;
}

.title {
  color: #770749;
  font-family: sans-serif;
  font-weight: 200;
  font-size: 2.8em;
}

.subtitle {
  color: #770749;
  font-family: sans-serif;
  font-weight: 200;
  font-size: 2.2em;
}

.light {
  font-weight: 100;
}

.regular {
  font-weight: 300;
}

.bold {
  font-weight: 500;
}

.grey {
  color: #a0a0a0;
}

.purple {
  color: #770749;
}

.font-small {
  font-size: 18px;
}

.font-medium {
  font-size: 22px;
}

.font-large {
  font-size: 30px;
}

.pink-link {
  color: #770749;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.pink-link:hover, .pink-link:active, .pink-link:focus {
  text-decoration: none;
  color: #d55caa;
}

.pink-link-large {
  color: #770749;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 22px;
}

.pink-link-large:hover, .pink-link-large:active, .pink-link-large:focus {
  text-decoration: none;
  color: #d55caa;
}

.bottom-links {
  padding-top: 10px;
  color: #770749;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.grey-text {
  color: #a0a0a0;
  font-famile: sans-serif;
  font-weight: 200;
  font-size: 18px;
}

.grey-title {
  color: #a0a0a0;
  font-family: sans-serif;
  font-weight: 200;
  font-size: 30px;
}

.notice {
  color: #d55caa;
  font-family: sans-serif;
  font-weight: 200;
  font-size: 18px;
  padding: 4px 2px 8px 2px;
}

.logo {
  padding-top: 50px;
}

.logo-small {
  padding-top: 5px;
  height: 85px;
}

.logo-authenticated {
  padding-top: 5px;
  height: 70px;
}

.screenshot {
  margin-top: 48px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
}

.app-store-button {
  width: 135px;
  height: 40px;
  margin: 10px;
}

.app-store-button-large {
  width: 205px;
  height: 56px;
  margin: 10px;
}

.sign-in-icon {
}

.sign-out-icon {
  margin: 2px;
}

.sign-in-text, .sign-in-text:hover, .sign-in-text:active, .sign-in-text:focus {
  color: #ffffff;
  font-weight: 100;
  font-size: 22px;
  text-decoration: none;
  vertical-align: middle;
}

.username-text, .username-text:hover, .username-text:active, .username-text:focus {
  color: #ffffff;
  font-weight: 200;
  font-size: 18px;
  text-decoration: none;
  padding-top: 28px; 
  padding-right: 20px;
}

.word-wrap {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}