/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

div {
  z-index: 1;
}

.container {
  width: 970px;
}

#header {
  background-color: #770749;
  min-height: 264px;
  height: 264px;
  right: 0;
  left: 0;
}

#header-small {
  background-color: #770749;
  min-height: 90px;
  height: 90px;
  right: 0;
  left: 0;
}

#header-authenticated {
  background-color: #770749;
  min-height: 80px;
  height: 80px;
  right: 0;
  left: 0;
}

footer {
  display: block;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 80px;
  /* background-color: #f1f1f1; */
}

.input-lg {
  width: 386px;
  height: 50px;
  border-radius: 0;
  color: #c8c8c8;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 22px;
  margin-bottom: -1px;
}

.btn {
  width: 388px;
  height: 60px;
  color: #ffffff;
  font-family: sans-serif;
  font-weight: 100 !important;
  font-size: 30px;
  border-radius: 10px;
  border: 0;
  margin: 10px;
}

.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
  background: #d55caa;
}

.btn:hover, .btn:focus, .btn.focus {
  background: #d55caa;
}

.btn-default {
  background: #a0a0a0;
}

.btn-primary {
  background: #770749;
}

.btn-facebook {
  background: #5370c1;
}

.btn-facebook:focus, .btn-facebook.focus, .btn-facebook:active:focus, .btn-facebook:active.focus, .btn-facebook.active:focus, .btn-facebook.active.focus {
  background: #a0a0a0;
}

.btn-facebook:hover, .btn-facebook:focus, .btn-facebook.focus {
  background: #a0a0a0;
}

.content {
  position: absolute;
  top: 165px;
  left: 25%;
  right: 25%;
  z-index: 999;
  width: 560px;
  min-width: 560px;
  min-height: 320px;
  background-color: #ffffff;
  background-image: image-url("content-background.png");
  background-repeat: no-repeat;
  background-position: top;
  margin-left: auto; 
  margin-right: auto;
  align-items: top;
}

.content-home {
  position: relative;
  top: 165px;
  left: 200px;
  z-index: 999;
  width: 560px;
  min-width: 560px;
  min-height: 320px;
  background-color: #ffffff;
  background-image: image-url("content-background.png");
  background-repeat: no-repeat;
  background-position: top;
  margin-left: auto; 
  margin-right: auto;
  align-items: top;
}

.center {
  margin-left: auto; 
  margin-right: auto;
  align-items: center;
  display: flex;
  justify-content: center;
}

.title {
  color: #770749;
  font-family: sans-serif;
  font-weight: 200;
  font-size: 38px;
}

.subtitle {
  color: #770749;
  font-family: sans-serif;
  font-weight: 200;
  font-size: 32px;
}

.pink-link {
  color: #770749;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.pink-link:hover, .pink-link:active, .pink-link:focus {
  text-decoration: none;
  color: #d55caa;
}

.bottom-links {
  padding-top: 32px;
  color: #770749;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.grey-text {
  color: #a0a0a0;
  font-famile: sans-serif;
  font-weight: 200;
  font-size: 18px;
}

.grey-title {
  color: #a0a0a0;
  font-family: sans-serif;
  font-weight: 200;
  font-size: 30px;
}

.notice {
  color: #d55caa;
  font-family: sans-serif;
  font-weight: 200;
  font-size: 18px;
  padding: 4px 2px 8px 2px;
}

.logo {
  padding-top: 50px;
}

.logo-small {
  padding-top: 5px;
  height: 85px;
}

.logo-authenticated {
  padding-top: 5px;
  height: 70px;
}

.screenshot {
  position: absolute;
  top: 37px;
  z-index: 999;
  align-self: baseline;
}

.app-store-button {
  width: 135px;
  height: 40px;
  margin: 10px;
}

.sign-in-icon {
}

.sign-in-text, .sign-in-text:hover, .sign-in-text:active {
  color: #ffffff;
  font-weight: 100;
  font-size: 22px;
  text-decoration: none;
}

.username-text, .username-text:hover, .username-text:active {
  color: #ffffff;
  font-weight: 200;
  font-size: 18px;
  text-decoration: none;
  padding-top: 28px; 
  padding-right: 20px;
}