<div id="header">
  <%= image_tag "beautboss-logo.png", alt: "beautboss", class: "center logo" %>
</div>

<div class="content">
  <div class="center" style="align-self: baseline; padding: 24px 0 18px 0; margin: 0;">
    <h1 class="title">i forgot my password :(</h1>
  </div>
  <div class="">
    <p class="grey-text center" style="width: 388px; padding: 0 0 20px 0; text-align: center;">
      We have just sent you an email with a temporary password :)
    </p>
    <%= link_to "thank you :)", root_path, class: "btn btn-primary center" %>
  </div>
</div>

<%= render "shared/footer" %>